
*{
 padding: 0;
 margin:0;
 font-family: open Sans","Poppins",sans-serif;

 }
 .main_box{
  background:url("photo.jpg");
  height: 100vh;  
  background-size:cover;
  background-position:center;
 }
 .btn_one i{
  color:azure;
  font-size: 30px;
  font-weight: bold;
  top: 15px;
  left: 15px;
  cursor: pointer;
  transition: all 0.3s linear;
 }
 .btn_one i:hover{
  color:white;
  font-size:35px;
 }
.sidebar_menu{
  position: fixed;
  top: 0;
  width: 300px;
  left: -350px;
  height: 100vh;
  background-color: rgba(158, 156, 156, 0.2);
  transition: all 0.3s ease;
}
.sidebar_menu .logo{
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.sidebar_menu .logo a{
  position: absolute;
  left: 50px;
  font-size: 20;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.sidebar_menu .btn_two{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 60px;
}
.sidebar_menu .btn_two label{
  display: block;
  width: 100%;
  height: 100%;

}

.sidebar_menu .btn_two i{
  font-size: 20px;
  line-height: 60px;
  color: lightgray;

}
.sidebar_menu .btn_two label:hover i{
  font-size: 25px;
  color: white;
}
.sidebar_menu .menu{
 top:80px;
 width: 100%;
 position: absolute;
}
.sidebar_menu .menu li{
  padding: 15px 20px;
  margin: 7px;
  list-style: none;
}

.sidebar_menu .menu li:hover{
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.sidebar_menu .menu i,
.sidebar_menu .menu a{
  color: white;
  text-decoration: none;
  padding-right: 8px;
}
.sidebar_menu .social_media{
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.sidebar_menu .social_media i{
  padding: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  
}

.sidebar_menu .social_media i:hover{
    transform: scale(1,1);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
#check{
  display: none;

}
#check:checked ~ .sidebar_menu{
  left:0;
}
#check:checked ~ .btn_one i{
  opacity: 0;
}



